<p>

    "nome": "carote",
    "descrizione": "arancioni ...a forma di carota",
    "prezzo": "10 soldi al kg"
     Quantità: <input #quantità> <br>
    <button (click)= "onClick(nome,descrizione,prezzo)"> Aggiungi al carrello </button>
    <br>



  ,

    "nome": "zucchine",
    "descrizione": "verdi ...a forma di carota ma più larghe in fondo",
    "prezzo": "5 soldi al kg"
     Quantità: <input #quantità> <br>
    <button (click)= "onClick(nome,descrizione,prezzo)"> Aggiungi al carrello </button>
    <br>
  ,

    "nome": "patate",
    "descrizione": "gialle decisamente non a forma di carota",
    "prezzo": "2 soldi al kg"
     Quantità: <input #quantità> <br>
    <button (click)= "onClick(nome,descrizione,prezzo)"> Aggiungi al carrello </button>
    

</p>
